#homeicon {
  height: 30px;
  position: absolute;
  left: 112px;
}


.checklist {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  .content {
    margin-top: 90px;
  }
}

#yes {
  float: left;
  margin-left: 3px;
  font-weight: bold;
  font-size: 17px;
}

#no {
  float: right;
  margin-right: 12px;
  font-weight: bold;
  font-size: 17px;
}