.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
 z-index: 9999999;
}
#emergencyInfo{
  font-size: 12px;
  color: #ff9900;
}

#clock-time {
  font-size: 50px;
}

#clock-date {
  font-size: 20px;
  margin: 10px !important;
}

#clock-date {
  font-size: 20px;
}


#clock-day {
  font-size: 15px;
}

#home {
  text-align: center;
  font-size: 30px;
  width: 100%;
  font-weight: bold;

  p {
    margin: 0;
  }

#righticon{
  position: absolute;
  right: -1px;
  top: 73px;
}
#lefticon{
  position: absolute;
  left: 1px;
  top: 73px;
}
#topicon{
  position: absolute;
  left: 117px;
  top: -36px;
}

#bottomicon{
  position: absolute;
  left: 117px;
  bottom: -35px;
}
}