.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: space-between;
}

#sosPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
