<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<div id="home" class="center">
  <p><span id="clock-time">{{time}}</span> <span id="clock-period">{{period}}</span></p>
  <p id="clock-day">{{day}}</p>
  <p id="clock-date">{{date}}</p>
  <i id="righticon" class="fas fa-exclamation-triangle"></i>
  <i id="lefticon"class="fas fa-map-marker-alt"></i>
  <i id="topicon"class="fas fa-list-ul"></i>
  <i id="bottomicon" class="fas fa-info-circle"></i>
</div>
