<div class="container">
    <div style="text-align: center">
        <img src="../images/homeicon.png" height="30px" width="30px">
    </div>
    <div>Cancel</div>
    <div style="text-align: center">
        <img src="../images/calling.png" id="callingIcon" height="70%" width="70%">
    </div>
    <div>Calling contact... </div>
    <div></div>
</div>