<div class="container">
    <div>Cancel</div>
    <div style="text-align: center">
        <img src="../images/calling.png" id="callingIcon" height="70%" width="70%">
        </div>
    <div>Calling contact... </div>
    <div></div>
</div>