<img id="homeicon" src="../images/homeicon.png">
<img class="danger-icon" style="top: 50px;left: 30px" src="../images/danger.png">
<img class="danger-icon" style="top: 200px;left: 50px" src="../images/danger.png">
<img class="danger-icon" style="top: 160px;left: 235px" src="../images/danger.png">
<img class="danger-icon" style="top: 170px;left: 70px" src="../images/danger.png">
<img class="danger-icon" style="top: 80px;left: 100px" src="../images/danger.png">
<div class="mapdiv"><img src="{{maps}}"></div>
