<img id="homeicon" src="../images/homeicon.png">
<div class="checklist">
  <div class="content">
    <p>Seems there's a problem...</p>
    <p>Please contact</p>
    <p>(00) xxxx-xxxx</p>
  </div>
</div>