<div class="container">
  <div>
    <img style="width: 30px; height: 30px; text-align:center" src="../images/homeicon.png">
    <div>Cancel</div>
  </div>
  <div id="sosPage">

    <div>YES</div>
    <div>
      <div>Are you safe?</div>
      <div id="sosPageCountdown">{{countdown}}</div>

    </div>
    <div> NO</div>
  </div>
  <div>
    <br>
  </div>
</div>
